<a href="https://colab.research.google.com/github/JamesHop31/ADVANCE-DATA-VISUALIZATION-LAB-3/blob/main/ADVANCE_DATA_VISUALIZATION_LAB_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Add = 1 + 1
print(Add)

2

In [2]:
Subtract = 2 - 1
print(Subtract)

1

In [3]:
Divide = 129/2
print(Divide)

64.5

In [4]:
Exponent = 6**10
print(Exponent)

60466176

In [5]:
Multiply = 6*4
print(Multiply)

24

In [6]:
# The modulo (%) operator returns the remainder of the division of the number to the left by the # number to the right
Remainder = 20%3
print(Remainder)

2

In [7]:
a = 10
b = 10
if a == b:
 print("a equals b")

a equals b

In [11]:
a = 10
b = 8
if a < b:
 print("a is less than b")

In [12]:
a = 12
b = 12
if a > b:
 print("a is greater than b")
else:
 print("a is not greater than b")

a is not greater than b

In [13]:
a = 13
b = 12
if a > b:
 print("a is greater than b")
elif a == b:
 print("a is equal to b")
else:
 print("a is less than b")

a is greater than b

In [16]:
a = 10
b = 10
if a == b:
 print("a does not equal b")

a does not equal b

In [17]:
(1 + 1) == (True + True)

True

In [18]:
# Notice you have to indent after you start a if statement.
num=3;
if num==3:
 print(num)

3

In [21]:
# Nothing is output because num > 10 is FALSE
num = 3
if num > 10:
    print(num)

In [22]:
num = 3
if num % 3 == 0:
 print("Fizz")

Fizz

In [24]:
num = 10
if num % 5 == 0:
    print("Buzz")

Buzz

In [25]:
num = 4
print(num > 0 and num < 15)

True

In [27]:
# both the conditions are true, so the num will be printed out
if num > 0 and num < 15:
    print(num)

4

In [28]:
# num > 0 is True, num > 15 is False
# Since the first condition is True, it is True
num = 4
num > 0 or num > 15

True

In [31]:
num = 4 
print(num > 0 and num < 15)

True